# .coveragerc to control coverage.py
[run]
branch = True
omit = 
    main.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:

[html]
directory = build/coverage/html/

[xml]
output = build/coverage/xml/coverage.xml
